.cart {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 25%;
    position: relative;
    top: 5vh;
}

.cart > * {
    margin: 0 10px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--light-gray);
}

.cart__totalCost {
    display: block;
    margin-left: auto;
}

.cart__empty {
    display: block;
    margin: auto;
}

.cart__image {
    height: 50px;
    width: 50px;
    object-fit: cover;
}