html,
body {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --primary-color: #1390e5;
  --light-blue: #1890ff;
  --light-gray: rgba(23, 23, 25, 0.3);
  --chocolate-color: #d2691e;
  --darker-chocolate-color: #c35f14;
  --danger: #df4759;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, -apple-system, BlinkMacSystemFont, Segoe UI,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
