.layer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
    padding-top: 20vh;
    gap: 10px;
}

.layer span {
    text-align: center;
}

.layer__box {
    margin: 0 20%;
}

.layer__button {
    width: 100%;
}